<h1>Warehouse : <%= @warehouse.id %></h1>
<%= form_for @warehouse do |f|%>
<%= f.label :store_id, "Store:"%>
<%= f.collection_select :store_id, @stores, :id, :name%>
<%= f.label :item_id, "Item:"%>
<%= f.collection_select :item_id, @items, :id, :name%>
<%= f.label :quantity, "Quantity:"%>
<%= f.number_field :quantity%>
<%= f.label :price, "Price(lb):"%>
<%= f.number_field :price, step: :any %>
<%= f.submit%>
<% end %>

<%= link_to "Back", warehouses_path, :class => "add_to_cart" %>
